.volunteer-card-main-container{
    width: 419px;
    height: 442px;
    background: #FFFFFF;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 32px;
    padding-right: 32px;
    .volunteer-card-header{
        display: flex;
        flex-direction: column;
        align-items: center;
        .volunteer-card-heading{
            font-family: 'Poppins';
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
            display: flex;
            align-items: center;
            text-align: center;
            color: #323338;
    }
    }

    .volunteer-card-description{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #323338;
    }
    .volunteer-card-button{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 12px 40px;
        gap: 8px;
        min-width: min-content;
        height: 46px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.07) 64.06%), #FFD166;
        box-shadow: 0px 4px 3px rgba(165, 159, 16, 0.7);
        border-radius: 16px;
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        color: #323338;
        text-decoration: none;
        cursor: pointer;
    }
}