.volunteer-main-container{
    .volunteer-inner-container{
        margin-top: 4%;
        display: flex;
        flex-direction: column;
        align-items: center;
        .volunteer-title{
            font-family: 'Londrina Solid';
            font-weight: 400;
            font-size: 102px;
            line-height: 121px;
            display: flex;
            align-items: center;
            text-align: center;
            text-transform: capitalize;
            color: #323338;
        }
        .volunteer-cards{
            margin-top: 2%;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
    }

}