---
title: Lab 2023
class: labs
permalink: /2023/labs/
redirect_from: ['/2023/lab/']
description: Tutti i Lab di Scambi Festival 2023
ref: 2023-labs
---
<h1>Lab 2023</h1>
<p class='center'><strong>Ci siamo quasi!</strong> Tutti i lab ed il programma completo saranno pubblicati il <strong>10 agosto</strong>.</p>
<p>Nel frattempo, puoi rimanere aggiornatə seguendoci sui <a href='https://instagram.com/scambifestival' title='Scambi Festival su Instagram'>nostri spassosissimi social</a>.</p>
{% comment %}<p class='center'>Tutti i Lab di Scambi Festival 2023. Dai un’occhiata anche al <a href='/2023/programma' title='Programma 2023'>programma</a> e ai <a href='/2023/pinoli' title='Pinoli 2023'>Pinoli</a>!</p>
<section class='flex row' id='lab-list'>
	{% assign labs = 2023-labs %}
	{% for lab in labs %}
		<a id='{{ lab.title | slugify}}' class='shrink box' href='/2023/lab/{{ lab.title | slugify }}'>
			<h3>{{ lab.title }}</h3>
			<p>{{ lab.descrizione | truncate: 200 | markdownify }}</p>
		</a>
	{% endfor %}
</section>{% endcomment %}
