---
title: Le serate di Scambi Festival 2023
permalink: /2023/serate/
redirect_from: /serate/
---

<h1>{{ title }}</h1>

{% assign night-shows = 2023-program | where: 'what', 'serata' %}

{% for show in night-shows %}
	<section class='margin row'>
		<h2>{{ show.title }}</h2>
		<h3 class='subtitle'>{{ show.days }} agosto 2023</h3>
		<div class='row'>
			<div class='half column'>
				<p>{{ show.description | markdownify }}</p>
				{% if show.scambi_url %}
					<div class='flex row'>
						<a href='{{ show.scambi_url }}' class='purple button'>Più dettagli</a>
					</div>
				{% endif %}
			</div>
			<div class='half column'>
				<img src='{{ show.img }}' alt='{{ show.title }}'>
			</div>
		</div>
	</section>
{% endfor %}

<section class='standalone purple row'>
	<div class='one column'>
{% renderTemplate "md" %}
## 🍻 Birra! 🍻

Durante tutte le serate, spilleremo la **birra artigianale** <u>prodotta esattamente sopra la Pigna</u>, dal [Birrificio NADIR](https://birrificionadir.it 'Birrificio NADIR su Instagram') 😍

Se non foste gente da birra, non disperate. Avremo anche vino e qualche cocktail.
{% endrenderTemplate %}
	</div>
</section>
