.main-container{
    display: flex;
    flex-direction: row;
}

.right-container{
    background-color: var(--primary-color);
    width: 41.75rem;
    height: 25.813rem;
    border-radius: 0px 32px 32px 0px;
}

.inner-container{
    margin: 90px 95.5px 101px 95.5px;
    /* margin-left: 95.5px;
    margin-right: 95.5px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.upper-subtitle{
    /* width: 282px;
    height: 22px; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    text-transform: uppercase;
    /* margin-top: 90px; */
}

.title{
    /* width: 426px;
    height: 76px; */
    font-family: 'Londrina Solid';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 76px;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.lower-subtitle{
    /* width: 477px;
    height: 50px; */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: left;
    margin-bottom: 21px;
}

.left-container{
    width: 40.625rem;
    height: 25.813rem;
}

.textfield{
    width: 300px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #69088D;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: 'Poppins';
    margin-right: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #676879;
    padding-left: 15px;
}

.submit-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 12px 40px; */
    width: 162px;
    height: 46px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.07) 64.06%), #FFD166;
    box-shadow: 0px 4px 3px rgba(165, 159, 16, 0.7);
    border-radius: 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #323338;
}

.email-fields{
    display: flex;
    flex-direction: row;
    width: 477px;
}