---
title: Frequently Asked Questions
redirect_from: [/questions/]
permalink: /en/faq/
layout: page
image: https://x.scambi.org/images/faq.webp
ref: faq
---
{% for q in faq.en %}
<h3>{{ q.question | markdownify }}</h3>
<p>{{ q.answer | markdownify }}</p>
{% endfor %}