---
title: Lab 2022
class: gradient
permalink: /2022/labs/
redirect_from: ['/2022/lab/']
description: Tutti i Lab di Scambi Festival 2022
ref: 2022-labs
---
<h1>Lab 2022</h1>
<p class='center'>Tutti i Lab di Scambi Festival 2022. Dai un’occhiata anche al <a href='/2022/programma' title='Programma 2022'>programma</a> e ai <a href='/2022/pinoli' title='Pinoli 2022'>Pinoli</a>!</p>
<section class='flex row' id='lab-list'>
	{% assign labs = 2022-labs %}
	{% for lab in labs %}
		<a id='{{ lab.title | slugify}}' class='shrink box' href='/2022/lab/{{ lab.title | slugify }}'>
			<h3>{{ lab.title }}</h3>
			<p>{{ lab.descrizione | truncate: 200 | markdownify }}</p>
		</a>
	{% endfor %}
</section>
