---
title: Pinoli 2022
class: gradient
permalink: /2022/pinoli/
description: Tutti i Pinoli di Scambi Festival 2022
ref: 2022-pinoli
---
<h1>Pinoli 2022</h1>
<p class='center'>Tutti i Pinoli di Scambi Festival 2022. Dai un’occhiata anche al <a href='/2022/programma' title='Programma 2022'>programma</a> e ai <a href='/2022/labs' title='Lab 2022'>Lab</a>!</p>
<section class='flex row' id='pinoli-list'>
	{% assign pinoli = 2022-pinoli %}
	{% for pinolo in pinoli %}
		<a id='{{ pinolo.title | slugify }}' class='shrink box' href='/2022/pinolo/{{ pinolo.title | slugify }}'>
			<h3>{{ pinolo.title }}</h3>
			<p>{{ pinolo.descrizione | truncate: 200 | markdownify }}</p>
		</a>
	{% endfor %}
</section>
