@use 'parts/root';

header {
	top: 1rem;
	left: 1rem;
	display: flex;
	height: 4rem;
	text-transform: uppercase;
	background: var(--background);
	position: fixed;
	z-index: 8;
	/*box-shadow: -.5rem -.5rem 0 var(--turquoise), -1rem -1rem 0 var(--primary), .5rem .5rem 0 var(--primary), 1rem 1rem 0 var(--turquoise);*/
	* {
		list-style-type: none !important;
		font-weight: 700 !important;
		z-index: 9;
	}
}

#scambi {
	line-height: root.$height;
	font-size: root.$bigger;
	--shadow: var(--yellow);
	svg {
		padding: root.$small;
		height: 100%;
	}
	&:hover,
	&:focus {
		transform: scale(1.1);
	}
	&:target {
		color: var(--primary);
	}
}

#nav {
	text-align: right;
	padding: 0 root.$regular 0 root.$small;
	display: flex;
	* {
		margin: 0 !important;
	}
	ul,
	menu {
		padding: 0;
		li {
			float: left;
			
			a,
			label {
				display: block;
				color: var(--text) !important;
				line-height: 4rem;
				height: 4rem;
				padding: 0 root.$small;
				font-size: root.$regular-more;
				font-weight: 700;
				&::after {
					content: none;
				}
				&:hover,
				&:focus{
					transform: scale(1.1) rotate(3deg);
					filter: none;
					border-bottom: none;
				}
				&:active {
					opacity: .6;
				}
				&::before {
					content: none !important;
				}
			}
		}
	}
}

.lang {
	display: block;
	color: var(--text) !important;
	line-height: 4rem;
	height: 4rem;
	padding: 0 root.$small;
	font-size: root.$regular-more;
	font-weight: 700;
	&::after {
		content: none;
	}
	&:hover,
	&:focus{
		transform: scale(1.1) rotate(3deg);
		filter: none;
		border-bottom: none;
	}
	&:active {
		opacity: .6;
	}
	&::before {
		content: none !important;
	}
}

.nav-mobile {
	display: none;
	height: root.$height;
	width: root.$height;
	background: var(--background);
	z-index: 6;
	top: root.$small;
	position: relative;
	span {
		top: 1.4rem;
		left: .7rem;
	}
	span,
	span::before,
	span::after {
		height: 4px;
		width: 1.7rem;
		background: var(--text);
		position: absolute;
		display: block;
		content: '';
		box-shadow: var(--little-shadow);
 		transition: root.$quicktrans;
	}
	span::before {
		top: .65rem;
	}
	span::after {
		bottom: .65rem;
	}
}

@media only screen and (max-width: 950px) {
	.nav-mobile {
		display: block;
	}
	menu {
		position: fixed;
		width: 12rem;
		top: -22rem;
		right: 0;
		background: var(--background);
		z-index: 9;
		border-left: 5px solid var(--background);
		border-bottom: 5px solid var(--background);
		overflow: hidden;
	}
	#nav {
		float: right;
		menu li,
		ul li {
			float: none;
			a,
			label {
				color: var(--text) !important;
				padding: 0 root.$regular-more;
				line-height: root.$height;
				height: root.$height;
			}
		}
	}
	header {
		width: calc(100vw - 2rem);
		display: block;
	}
}

#menutoggle:checked {
	& ~ menu {
		top: 9rem;
		right: 3rem;
		box-shadow: -.5rem -.5rem 0 var(--turquoise), -1rem -1rem 0 var(--primary);
	}
	& ~ .nav-mobile {
		span {
			background: transparent;
			box-shadow: none;
			&::before,
			&::after {
				top: 0;
				box-shadow: none;
			}
			&::before {
				transform: rotate(45deg);
			}
			&::after {
				transform: rotate(-45deg);
			}
		}
	}
}
