@font-face {
	font-family: 'Londrina Solid';
	src: url('/fonts/Londrina/LondrinaSolid-Regular.woff2') format('woff2'),
			 url('/fonts/Londrina/LondrinaSolid-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Londrina Solid';
	src: url('/fonts/Londrina/LondrinaSolid-Regular.woff2') format('woff2'),
			 url('/fonts/Londrina/LondrinaSolid-Regular.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Londrina Solid';
	src: url('/fonts/Londrina/LondrinaSolid-Black.woff2') format('woff2'),
			 url('/fonts/Londrina/LondrinaSolid-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Londrina Solid';
	src: url('/fonts/Londrina/LondrinaSolid-Light.woff2') format('woff2'),
			 url('/fonts/Londrina/LondrinaSolid-Light.woff') format('woff');
	font-family: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Londrina Solid';
	src: url('/fonts/Londrina/LondrinaSolid-Thin.woff2') format('woff2'),
			 url('/fonts/Londrina/LondrinaSolid-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

