@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
			 url('/fonts/Poppins/Poppins-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins/Poppins-Black.woff2') format('woff2'),
			 url('/fonts/Poppins/Poppins-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins/Poppins-BlackItalic.woff2') format('woff2'),
			 url('/fonts/Poppins/Poppins-BlackItalic.woff') format('woff');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins/Poppins-Light.woff2') format('woff2'),
			 url('/fonts/Poppins/Poppins-Light.woff') format('woff');
	font-style: normal;
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins/Poppins-LightItalic.woff2') format('woff2'),
			 url('/fonts/Poppins/Poppins-LightItalic.woff') format('woff');
	font-style: italic;
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins/Poppins-Medium.woff2') format('woff2'),
			 url('/fonts/Poppins/Poppins-Medium.woff') format('woff');
	font-style: normal;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins/Poppins-MediumItalic.woff2') format('woff2'),
			 url('/fonts/Poppins/Poppins-MediumItalic.woff') format('woff');
	font-style: italic;
	font-weight: 500;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins/Poppins-Thin.woff2') format('woff2'),
			 url('/fonts/Poppins/Poppins-Thin.woff') format('woff');
	font-style: normal;
	font-weight: 100;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins/Poppins-ThinItalic.woff2') format('woff2'),
			 url('/fonts/Poppins/Poppins-ThinItalic.woff') format('woff');
	font-style: italic;
	font-weight: 100;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins/Poppins-SemiBold.woff2') format('woff2'),
			 url('/fonts/Poppins/Poppins-SemiBold.woff') format('woff');
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins/Poppins-SemiBoldItalic.woff2') format('woff2'),
			 url('/fonts/Poppins/Poppins-SemiBoldItalic.woff') format('woff');
	font-style: italic;
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins/Poppins-Bold.woff2') format('woff2'),
			 url('/fonts/Poppins/Poppins-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins/Poppins-BoldItalic.woff2') format('woff2'),
			 url('/fonts/Poppins/Poppins-BoldItalic.woff') format('woff');
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins/Poppins-ExtraBold.woff2') format('woff2'),
			 url('/fonts/Poppins/Poppins-ExtraBold.woff') format('woff');
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('/fonts/Poppins/Poppins-ExtraBoldItalic.woff2') format('woff2'),
			 url('/fonts/Poppins/Poppins-ExtraBoldItalic.woff') format('woff');
	font-style: italic;
	font-weight: 600;
	font-display: swap;
}