@import url('https://p.typekit.net/p.css?s=1&k=prk3ole&ht=tk&f=51959.51960&a=81886755&app=typekit&e=css');

@font-face {
	font-family: 'stinger-variable';
	src: url('https://use.typekit.net/af/3fa4b5/0000000000000000774b90b7/30/l?primer=521cc08f1b7f2786b1a440474beb260544c2054d3bf10827516912b87cbe7385&fvd=i4&v=3') format('woff2');
	font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
	font-variation-settings: 'wdth' 100, 'wght' 700;
}

@font-face {
	font-family: 'stinger-variable';
	src: url('https://use.typekit.net/af/600e01/0000000000000000774bf526/30/l?primer=521cc08f1b7f2786b1a440474beb260544c2054d3bf10827516912b87cbe7385&fvd=n4&v=3') format('woff2');
	font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
	font-variation-settings: 'wdth' 100, 'wght' 700;
}
