.squilibristi {
  color: #1B004D !important;
  background: linear-gradient(160deg, #FACC60, #FFD778) !important;
}

.dissolvenze {
  color: #FBFBFB !important;
  background: linear-gradient(160deg, #580876, #223BAC) !important;
}

.cartoline {
  color: #11305B !important;
  background: linear-gradient(160deg, #E77566, #FB8E80) !important;
}

.intro {
  color: #F5EAD7 !important;
  background: linear-gradient(160deg, #1B004D, #69088D) !important;
}
