---
layout: wrapper
---
<main class='h-entry post'>
	<section class='center row'>
		<a class='u-uid u-url' href='{{ page.url | prepend: site.url }}'><h1 class='p-name'>{{ title }}</h1></a>
		{% if subtitle %}
			<h2>{{ subtitle }}</h2>
		{% endif %}
		<div class='flex'>
			<p class='metadata'>
				{% if lang == 'it' %}
					{% if date %}<time class='dt-published' datetime='{{ date | date: '%Y-%m-%dT%H:%M:%S%:z' }}'>{% render 'date-it.html', date: date %}</time>{% endif %}
				{% else %}
					{% if date %}<time class='dt-published' datetime='{{ date | date: '%Y-%m-%dT%H:%M:%S%:z' }}'>{{ date | date: '%e %B %Y' }}</time>{% endif %}
				{% endif %}
			</p>
			{% for person in people %}
				{% assign author_data = | append: person.Nome | append: ' ' | append: person.Cognome %}
				{% if author == author_data %}
					<a rel='author' class='p-author h-card' href='{{ person.url }}'>
						<img src='{{ person.image }}' >
						<span>{{ author }}</span>
					</a>
					{% break %}
				{% endif %}
			{% endfor %}
		</div>
	</section>

	{% render 'page-tags.html', tags: tags, site: site %}
	{% capture source %}{{ site.source }}/blob/main{{ page.inputPath | replace: './', '/' }}{% endcapture %}
	{% render 'goto.html', lang: lang, path: page.inputPath, source: source %}

	{% if toc %}
		<aside id='toc'>
			<h3>{% if lang == 'it' %}Indice{% else %}Table of contents{% endif %}</h3>
			{{ content | toc: '"ul":"false"' }}
		</aside>
	{% endif %}


	<div class='row'>
		<div class='one column'>
			<article class='e-content'>
				{{ content }}
			</article>
		</div>
	</div>

	<div class='row'>
		<div class='one column'>
  			{% assign encoded_absolute_url = page.url | prepend: site.url | url_encode %}
			{% render 'share.html', lang: lang, title: title, encoded_absolute_url: encoded_absolute_url %}
		</div>
	</div>
</main>
