<!DOCTYPE html>
<html lang='{% case lang %}{% when 'it' %}it{% when 'fr' %}fr{% else %}en{% endcase %}' prefix='og: http://ogp.me/ns#' dir='ltr'>

	{% if ref %}
		{% for entry in collections.all %}
			{% if entry.data.ref == ref and entry.data.lang != lang %}
				{% assign alternate = entry %}
			{% endif %}
		{% endfor %}
	{% endif %}

	{% render 'head.html', latex: latex, date: date, updated: updated, title: title, description: description, primary: primary, lang: lang, alternate: alternate, accounts: accounts, site: site, url: page.url, layout: layout, isNote: isNote, isPost: isPost, tommi: tommi, image: image, video: video, total_title: total_title %}

	<body{% if class %} class='{{ class }}'{% endif %}>

		{% if viewportFrame %}
			<div class='left viewportFrame'></div>
			<div class='top viewportFrame'></div>
			<div class='right viewportFrame'></div>
			<div class='bottom viewportFrame'></div>
		{% endif %}

		<div class='tool'>
			<a id='scrollButton' href='#' aria-label='scroll to top' title='scroll to top'>
				<svg class='button' style='background:var(--primary)' aria-hidden='true' version='1.1' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='m7 14 5-5' stroke-linecap='square' stroke-width='3'/><path d='m17 14-5-5' stroke-linecap='square' stroke-width='3'/></svg>
			</a>
		</div>

		{% render 'nav.html', lang: lang, alternate: alternate %}

		{% if tags contains 'draft' or tags contains 'wip' %}
			{% render 'draft.html', lang: lang %}
		{% endif %}

		{% if tags contains 'help' %}
			{% render 'help.html', lang: lang, lang: lang %}
		{% endif %}

		{{ content }}

		{% render 'footer.html', lang: lang %}
	
		<script src='/index.js' type='text/javascript'></script>
	</body>
</html>
