<!DOCTYPE html>
<html lang='{% case lang %}{% when 'it' %}it{% when 'fr' %}fr{% else %}en{% endcase %}' prefix='og: http://ogp.me/ns#' dir='ltr'>

	{% if ref %}
		{% for entry in collections.all %}
			{% if entry.data.ref == ref and entry.data.lang != lang %}
				{% assign alternate = entry %}
			{% endif %}
		{% endfor %}
	{% endif %}

	{% render 'head.html', latex: latex, date: date, updated: updated, title: title, description: description, primary: primary, lang: lang, alternate: alternate, accounts: accounts, site: site, url: page.url, layout: layout, isNote: isNote, isPost: isPost, tommi: tommi, image: image, video: video, total_title: total_title %}

	<body{% if class %} class='{{ class }}'{% endif %}>

		{% if viewportFrame %}
			<div class='left viewportFrame'></div>
			<div class='top viewportFrame'></div>
			<div class='right viewportFrame'></div>
			<div class='bottom viewportFrame'></div>
		{% endif %}

		<a id='scrollbutton' class='tool' href='#' aria-label='scroll to top' title='scroll to top'>
			<svg class='button' style='background:var(--primary)' aria-hidden='true' version='1.1' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'><path d='m7 14 5-5' fill='none' stroke='var(--background)' stroke-linecap='square' stroke-width='3'/><path d='m17 14-5-5' fill='none' stroke='var(--background)' stroke-linecap='square' stroke-width='3'/></svg>
		</a>

		{% render 'nav.html', lang: lang, alternate: alternate %}

		{% if tags contains 'draft' or tags contains 'wip' %}
			{% render 'draft.html', lang: lang %}
		{% endif %}

		{% if tags contains 'help' %}
			{% render 'help.html', lang: lang, lang: lang %}
		{% endif %}

		{{ content }}

		{% render 'footer.html', lang: lang %}
	
		<script type='text/javascript'>
			scrollbutton = document.getElementById('scrollbutton');
			window.onscroll = function() {scroll()};
			function scroll() {
				if (document.body.scrollTop > 1000 || document.documentElement.scrollTop > 1000) {
					scrollbutton.href='#';
					scrollbutton.title='scroll to top';
					scrollbutton.setAttribute('aria-label', 'scroll to top');
				} else {
					scrollbutton.href='#0';
					scrollbutton.title='scroll to bottom';
					scrollbutton.setAttribute('aria-label', 'scroll to bottom');
				};
			}
		</script>
	</body>
</html>
