---
title: Blog
lang: en
ref: blog
permalink: /en/blog/
description: News, thoughts, and craziness from the Paneurethic Universe of Scambi.
type: CollectionPage
class: gradient
sitemap:
  priority: 0.8
	changefreq: monthly
---
<section class='center row'>
	<h1>{{ title }}</h1>
	<p class='one column'>{{ description }}</p>
</section>

<div class='row'>
	<div class='two-thirds column'>
		{% render 'tags.liquid', alltags: scambiTags %}
	</div>
	<div class='one-third column'>
		{% render 'lang-filter.html', lang: lang %}
	</div>
</div>

<div class='flex row' id='blog'>
	{% for entry in collections.posts %}
		<div class='one-third'>
			<a class='box' href='{{ entry.url }}' hreflang='{{ entry.data.lang }}' lang='{{ entry.data.lang }}'>
				<div class='flex'><img src='{{ entry.data.image }}' alt='{{ entry.data.title }}' title='{{ entry.data.title }}'></div>
				<h2>{{ entry.data.title }}</h2>
				<p class='center'><time class='dt-published' datetime='{{ entry.date | date: '%Y-%m-%dT%H:%M:%S%:z' }}'>{% render 'date-it.html', date: entry.date %}<time></p>
				<cite class='excerpt'>
					{% if entry.data.description %}
						{{ entry.data.description | markdownify | strip_html }}
					{% endif %}
				</cite>
				{% render 'entry-tags.liquid', tags: entry.data.tags, alltags: scambiTags, size: 'tiny' %}
			</a>
		</div>
	{% endfor %}
</div>
