<div class='row' id='crowdfunding'>
	<div class='one column'>
		<div class='gradient box center'>
			<h2>Sostieni Scambi Festival!</h2>
			<p>Per rendere Scambi Festival 2023 realtà, abbiamo bisogno del vostro sostegno.</p>
			<p>Partecipate alla nostra campagna di raccolta fondi per contribuire a far esplodere di vita la Pigna!</p>
			<div class='flex'>
				<a class='blue button' href='https://sostieni.link/33954' target='_blank'>Dona ora</a>
			</div>
		</div>
	</div>
</div>
