<div class='one column row'>
	<div class='banner orange box center'>
		<h3>🚧&ensp;{% if lang == 'it' -%}Lavori in corso{% else %}Work in progress{% endif -%}&ensp;🏗</h3>
		{% if lang == 'it' -%}
			Il contenuto di questa pagina non è completo, oppure la stiamo ancora costruendo.<br/>Essere tuttз solo volontare vuol dire anche questo: avere le cose un po’ a soqquadro.
		{% else %}
			Content of this page is not complete.<br/>Being a staff of volunteers only also means this: having things a bit incomplete and messed up.
		{% endif -%}
	</div>
</div>
