<section class='row' id='manifesto'>
	<h2 class='title'>Il nostro manifesto</h2>
	<div class='flex'>
		<div class='shrink vertical-gradient box'>
			<h3>La Pigna</h3>
			<h4 class='color'>le radici</h4>
			<p><em>Scambi</em> affonda le proprie radici nella Pigna, <u>il magico centro storico di Sanremo</u>. Perfetta allegoria dei valori alla base dei nostri intenti, la Pigna è <strong>uno scrigno colmo</strong> di carrugi in cui si respira una bellezza rovinata e resiliente.</p>
		</div>
		<div class='shrink vertical-gradient box'>
			<h3>Accessibilità</h3>
			<h4 class='color'>il tronco</h4>
			<p>Il fusto che regge il nostro festival vuole essere accessibile. Per noi Accessibilità significa <u>credere e lavorare per la realizzazione di un mondo più giusto</u>, che possa abbracciare tuttɜ, al di là e <strong><em>attraverso</em> le differenze</strong>.</p>
		</div>
		<div class='shrink vertical-gradient box'>
			<h3>Laboratori
			<h4 class='color'>i rami</h4>
			<p>Rigorosamente coinvolgenti e orizzontali, i Lab intendono creare relazioni fra chi li vive. Personalità perite nelle più diverse discipline propongono esperienze che aiutino ad allargare i propri orizzonti sperimentando con idee e cose.</p>
		</div>
		<div class='shrink vertical-gradient box'>
			<h3><em>Paneuretico</em></h3>
			<h4 class='color'>il frutto</h4>
			<p>È paneuretico ciò che spinge a scoprire cose nuove, a rivolgersi ai più diversi ambiti, in modi originali. Questa ricerca non è priva di indirizzo, ciò che è paneuretico segue un’etica basata su valori vitali da costruire e condividere.</p>
		</div>
	</div>
	<div class='flex'>
		<a class='blue button' href='/manifesto' title='Il Manifesto di Scambi Festival'>Leggi il manifesto</a>
	</div>
</section>