<section class='standalone green row' id='pan'>
	<div class='half column'>
		<h2>
			{% if lang == 'it' %}Unisciti a{% else %}Join{% endif %}
			<cite>Pan</cite>
		</h2>
		<p>
			<cite>Pan</cite>
			{% if lang == 'it' %}
				è il nostro social network, parte del
				<a
					href='https://it.wikipedia.org/wiki/Fediverso'
					target='_blank'
					title='Fediverso su Wikipedia'>Fediverso</a>: una favolosa rete di persone e comunità indipenti che contano più di
				<u>10 milioni di utenti in tutto il mondo</u>.<br>
				Noi intendiamo offrire a tuttз l’opportunità di entrare a fare parte della nostra comunità e scoprire alternative sociali online
				<strong>libere</strong>
				dall’oppressione di multinazionali, da algoritmi dal funzionamento oscuro, da sistemi centralizzati con finalità di profitto.
			{% else %}
				is our social network, part of the awesome
				<a
					href='https://en.wikipedia.org/wiki/Fediverse'
					target='_blank'
					title='Fediverse on Wikipedia'>Fediverse</a>: a magical web of people and independent communities counting more than
				<u>10 million users all over the world</u>.<br>
				We want to offer everybody the opportunity of joining our network, to wander around social platforms
				<strong>free</strong>
				from the oppression of
				<em>Big Tech</em>, from unfair and unquestionable proprietary algorithms, and from centralized systems driven by the main purpose of profit.
			{% endif %}
		</p>
		<div class='flex'>
			<a
				class='orange button'
				href='https://pan.rent'
				target='_blank'
				title=''>
				{% if lang == 'it' %}Scopri{% else %}Find out more{% endif %}
			</a>
		</div>
	</div>
	<div class='half column'>
		<img src='https://x.scambi.org/illustrations/pan.webp' alt='{% if lang == 'it' %}Illustrazione di Pan{% else %}Pan main illustration{% endif %}'>
	</div>
</section>
