{% if url contains '2022' %}
	<div class='flex'>
		<h3 class='title'>Prenotazioni aperte dal 20 agosto!</h3>
		{% comment %}<a href='{{ site.booking_url }}' target='_blank' title='Prenota questo Lab!'>Prenota ora!</a>{% endcomment %}
	</div>
{% endif %}