<h2 class='title'>{% if lang == 'it' %}Le nostre relazioni{% else %}Our relations{% endif %}</h2>
<section class='row'>
	<div class='half column'>
		<img src='https://x.scambi.org/images/fun.webp' alt='{% if lang == 'it' %}Una foto da “Scambi Presenta„ di febbraio 2022, con Gek, Tommi, Giulia e Paola che fanno gli scemi{% else %}A shot from “Scambi Presenta„ 2022, where Gek, Tommi, Giulia, and Paola act crazy{% endif %}'>
	</div>
	<div class='half column'>
		<p>
			{% if lang == 'it' %}
				Da solз non saremmo in grado di dar vita alla magia di Scambi.</p>
				<p>Ciò che rende unico il nostro festival sono anche le speciali relazioni e i profondi legami con realtà locali ed internazionali, la pubblica amministrazione e molte altre persone speciali.
			{% else %}
				Alone we would not have been able to make the magic of Scambi come true.</p>
				<p>What makes our festival unique are the relationships and the bonds with local and international organizations, the public administration of Sanremo and many other special people.
			{% endif %}
		</p>
		<div class='flex'>
			{% if lang == 'it' %}
				{% comment %}FIX<a class='button' href='/relazioni'>Le nostre relazioni</a>{% endcomment %}
				<a class='orange button' href='mailto:staff@scambi.org?subject=Collaboriamo!'>Collabora con noi!</a>
			{% else %}
				<a class='orange button' href='mailto:staff@scambi.org?subject=Let%E2%80%99s%20connect%21'>Partner with us!</a>
			{% endif %}
		</div>
	</div>
</section>