<section>
	<h2 class='title'>Una volta dentro, non puoi smettere di parlarne!</h2>
	<div class='one-third column'>
		<div class='blue-gradient box'>
			<h3>Anna</h3>
			<h4>Presidente APS Oltre</h4>
			<p><q>Scambi per me è il luogo in cui essere libera nel mio desiderio di futuro; in una realtà che sta divenendo così confusa e insicura abbiamo tuttз bisogno di tornare a concentrarci su cosa significhi realmente vivere insieme.</q></p>
		</div>
	</div>
	<div class='one-third column'>
		<div class='blue-gradient-inverted box'>
			<h3>Lucilla</h3>
			<h4>Team <cite>Dissolvenze</cite></h4>
			<p><q>Ho deciso di partecipare a Scambi perché ho visto cosa la dedizione e l’impegno di tuttз hanno creato nella prima edizione, e vorrei tanto aiutare a creare la stessa magia anche nella prossima edizione</q></p>
		</div>
	</div>
	<div class='one-third column'>
		<div class='blue-gradient box'>
			<h3>Luisa</h3>
			<h4>Team leader <cite>Dissolvenze</cite></h4>
			<p><q>Scambi mi piace perché è riuscito ad unire giovanз ragazzз provenienti da tutta Italia con lo scopo di inventare qualcosa di nuovo, di portare in un singolo posto musica, danza e tanta curiosità.</q></p>
		</div>
	</div>
</section>
<section class='row'>
	<h2 class='title'>La ciurma di Scambi</h2>
	<div class='half column'>
		<p>Siamo 50+ di volontariз under-25 provenienti da ogni angolo d’Europa.</p>
		<p>La nostra associazione è nata dal desiderio di valorizzare legami reali e profondi, orizzontalità e dialogo, curiosità e accoglienza del diverso. Dopo numerosissime videochiamate, mille dubbi e altrettante idee, la nostra ciurma sgangherata è diventata una famiglia colorata. Siamo orgogliosз della nostra eterogeneità e della nostra passione, entusiastз di condividere stimoli e di proporre senza tregua nuove prospettive.</p>
		<p>Ti aspettiamo a Sanremo, dove potremo presentarci al meglio!</p>
		<div class='flex'><a class='yellow button' href='/staff' title='Staff page'>Unisciti a noi!</a></div>
	</div>
	<div class='half column'>
		<img src='https://x.scambi.org/images/staff.webp'>
	</div>
</section>