.App {
  text-align: center;
  --primary-color: #69088D;
  --primary-hover-color: #4E0968;
  --primary-selected-color: #EDBBFF;
  --positive-color: #258750;
  --positive-color-hover: #007038;
  --positive-color-selected: #BBDBC9;
  --negative-color:#D83A52;
  --negative-color-hover:#B63546;
  --negative-color-selected:#F4C3CB;
  --primary-color-yellow: #FFD166;
  background: linear-gradient(90deg, #E9AFFF 0%, #FFEDC4 98.65%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
