@use 'parts/normalize';
@use 'parts/stinger';
@use 'parts/articulat';
@use 'parts/root';
@use 'parts/header';
@use 'parts/tags';
@use 'parts/lite-youtube-embed';

/* LIGHT THEME */
body {
	margin: 1.5rem;
	padding-top: 8rem;
	color: #000;
	overflow-wrap: break-word;
	hyphens: auto;
	font: root.$regular var(--font-main);
	--scambi-shadow: 3px 3px 0 var(--purple);
	--background: #FFF;
	background: var(--background);
	--text: #000;
	--deep: #FFF;
	--link: var(--primary);
	--primary: var(--purple);
	--secondary: var(--green);
	--slight: var(--dark-purple);
	--transp-text: #480B5E33;
	--strong-shadow: var(--yellow);
	--shadow: 5px 5px 20px #480B5E22;
	--opposite-shadow: -5px -5px 20px #480B5E66, 5px 5px 20px #FFF8;
	--little-shadow: 2px 2px 0 var(--turquoise);
	--button-shadow: .25rem .25rem 0 var(--primary);
	--tool-shadow: 3px 3px 8px #480B5E55, -3px -3px 8px #FFF9;
	--inner-shadow: inset 3px 3px 5px #480B5E55, inset -3px -3px 5px #FFF5;
	--inner-little-shadow: inset 2px 2px 3px #480B5E22, inset -2px -2px 3px #FFF3;

	transition: root.$trans;
}

/* DARK THEME */
@media screen and (prefers-color-scheme: dark) {
	body {
		color: #FFF;
		--scambi-shadow: 3px 3px 0 var(--yellow);
		--background: var(--dark-purple);
		background: var(--background);
		--text: #FFF;
		--deep: #000;
		--link: var(--primary);
		--primary: var(--yellow);
		--secondary: var(--turquoise);
		--slight: var(--turquoise);
		--transp-text: #EBB4FF33;
		--strong-shadow: var(--purple);
		--opposite-shadow: -5px -5px 20px #480B5E66, 5px 5px 20px #FFF8;
		--tool-shadow: 3px 3px 8px #480B5E55, -3px -3px 8px #FFF9;
		--inner-shadow: inset 3px 3px 5px #480B5E55, inset -3px -3px 5px #FFF5;
		--inner-little-shadow: inset 2px 2px 3px #480B5E22, inset -2px -2px 3px #FFF3;

		transition: root.$trans;
	}
	#scambi {
		--shadow: var(--orange);
	}
}

html {
	background: var(--purple);
	scroll-behavior: smooth;
	cursor: url(/cursor.svg) 16 16, crosshair;
}

* {
	transition: root.$trans, transform root.$quicktrans, box-shadow root.$quicktrans, text-shadow root.$quicktrans, border root.$quicktrans;
	scrollbar-color: var(--primary) transparent;
}

.viewportFrame {
	position: fixed;
	z-index: 1;
	background: var(--orange);
	&.left {
		height: 100vh;
		top: 0;
		left: 0;
		width: 1.5rem;
	}
	&.right {
		height: 100vh;
		top: 0;
		right: 0;
		width: 1.5rem;
	}
	&.top {
		height: 1.5rem;
		width: 100vw;
		top: 0;
		right: 0;
	}
	&.bottom {
		height: 1.5rem;
		width: 100vw;
		bottom: 0;
		right: 0;
	}
}

#menutoggle,
#langtoggle {
	display: none;
}

.row {
	&::before,
	&::after {
		display: table;
		content: '';
		clear: both;
	}
}

address{
	display: inline;
}

mark {
	background: var(--primary);
	color: var(--background);
	font-weight: 500;
}

span.citation {
	color: var(--slight);
}

.double,
.thick {
	text-decoration-thickness: 5px !important;
	text-decoration-skip-ink: none;
	text-decoration-color: var(--primary) !important;
}

.wavy {
	text-decoration-style: wavy;
}

::selection {
	color: var(--dark-purple);
	background: var(--yellow);
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: var(--primary);
}

.dim {
	opacity: .5;
}

.transparent {
	color: #0000;
}

a {
	text-decoration: none;
	color: var(--link);
	&:hover,
	&:focus {
		box-shadow: none;
		text-shadow: none;
	}
	p &,
	li & {
		font-weight: 500;
		&:hover,
		&:focus {
			margin-bottom: -2px;
			border-bottom: 2px solid var(--primary);
		}
	}
	code {
		color: var(--primary);
	}
	&.box {
		&:active {
			box-shadow: var(--inner-shadow);
		}
	}
	img {
		& + h2,
		& + h3 {
			margin-top: root.$regular-more;
		}
	}
}

a,
button,
.button,
label {
	cursor: url(/cursor-hover.svg) 16 16, pointer;
}

input {
	border: none;
	outline: none;
}

input[type='email'] {
	border: none;
	background: var(--background);
	color: var(--text);
	padding: root.$small root.$regular;
	box-shadow: var(--inner-shadow);
	font-size: root.$regular;
	width: 20rem;
	margin: root.$regular-less;
	max-width: 100%;
	border: 3px solid var(--primary);
	outline: none !important;
	&::placeholder {
		opacity: .2;
	}
	& ~ .button {
		margin-left: root.$regular-less;
		margin-right: root.$regular-less;
	}
	&:active {
		outline: none !important;
	}
}

.invalid-wikilink {
	opacity: .5;
	cursor: not-allowed;
}

.flex {
	display: flex !important;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	p {
		max-width: 700px;
	}
}

.vertical {
	flex-direction: column;
	height: 100%;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: root.$regular-less;
	p {
		font-size: .8em;
		font-weight: 300;
		line-height: 1.3em;
		margin: 5%;
	}
	.box {
		margin: 0;
		padding: 3%;
		/*height: 13rem;*/
	}
}

li {
	line-height: 1.5em;
	margin-bottom: root.$small;
	ul {
		li {
			margin-bottom: 0;
			list-style-type: '–  ';
			ul {
				list-style-type: '+  ';
			}
		}
	}
	ol {
		list-style-type: lower-alpha;
		ol {
			list-style-type: lower-latin;
		}
	}
}

.task-list-item {
	list-style: none;
}

.task-list-item-checkbox {
	position: relative;
	right: root.$regular-less;
	width: root.$regular;
	height: root.$regular;
}

.post {
	article {
		background: var(--background);
		box-shadow: var(--shadow);
		& > p:first-of-type::first-letter {
			initial-letter: 4;
			font-weight: bolder;
		}
	}
}

main {
	position: relative;
}

section:not(.full-width) {
	body > &,
	main > & {
		margin: 3rem 0;
		& > * {
			padding: 1vw 3vw;
			& > img {
				max-height: 50vh;
				width: auto;
			}
			p,
			form {
				padding: 0 3vw;
			}
		}
	}
}

hr {
	width: 30%;
}

.mono {
	font-family: var(--font-mono);
}

pre,
code,
kbd,
samp {
	font: 400 1em var(--font-mono);
	background: #3185FC55;
}

pre {
	padding: root.$regular;
	white-space: pre-wrap;
	background: var(--dark-purple);
	color: #FFF;
	code {
		background: none;
		padding: 0;
		box-shadow: unset;
	}
}

code {
	padding: 2px 6px;
	box-shadow: var(--inner-little-shadow);
}

.cite {
	text-align: right;
	line-height: 1em;
	font-size: .9em;
	margin-left: 20%;
	&::before {
		content: '~ ';
	}
}

blockquote {
	margin: 0 3vw;
	padding: 0;
	font: italic 1em var(--font-serif);
	opacity: .9;
	p {
		line-height: 1.3em;
	}
}

td,
th,
tr {
	border: none;
	outline: solid .5px var(--slight);
}

th {
	padding: root.$small root.$regular-less;
	position: sticky;
	top: 0;
	background: var(--background);
}

td {
	font-size: .8em;
	padding: root.$tiny root.$small;
}

.table {
	max-height: 90vh;
	overflow: scroll;
	margin: root.$height 3vw;
	border: 3px solid var(--text);
	box-shadow: var(--shadow);
	table {
		width: 100%;
	}
}

table {
	border-collapse: collapse;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  80% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.one {
	width: 70%;
	margin-left: 15%;
}

.half {
	width: 50%;
}

.one-third {
	width: calc(100% / 3);
}

.two-thirds {
	width: calc(100% / 3 * 2);
}

.column {
	float: left;
}

img {
	max-width: 100%;
	margin: 0 auto;
	display: block;
	h2 &,
	h3 & {
		margin: auto;
		max-height: 9rem;
		max-width: 90%;
	}
	& + h2,
	& + h3 {
		margin-top: root.$regular-more;
	}
}

figure {
	margin: 0 auto;
	img {
		max-height: 100vh;
		box-shadow: var(--shadow);
		margin: 0 auto;
	}
	& + figure {
		margin-top: root.$bigger;
	}
	& + figure.column {
		margin: 0 0 0 root.$big;
	}
}

figcaption {
	font: root.$regular var(--font-serif);
	margin: root.$regular-less 10% 0;
	opacity: .7;
	text-align: center;
}


.full {
	background: var(--purple);
	width: 100vw;
	height: 100vh;
	overflow-x: hidden;
	a:hover {
		transform: none;
	}
	* {
		color: var(--background);
	}
	h1 {
		font-size: 8rem;
		max-width: 100%;
		hyphens: auto;
		line-height: 1em;
		margin: 1rem auto;
	}
}

.remarkable {
	background: center #FBFBFB22 url('https://x.scambi.org/images/2022-balli-occitani.webp');
	background-size: cover;
	height: 90vh;
	p {
		color: #FFF;
		margin: 1.5rem;
		font: 800 8rem var(--font-heading);
		text-shadow: var(--scambi-shadow);
		text-align: center;
	}
}

.quote {
	font-size: 2rem;
}

.dropdown-content {
	display: none;
}

.dropdown {
	&:hover,
	&:focus {
		.dropdown-content {
			display: block;
		}
	}
}

.center {
	text-align: center;
	h2 {
		color: var(--slight);
	}
}

.right,
.date {
	text-align: right;
}

.p-author {
	line-height: root.$mastodon;
	img {
		display: inline-block;
		height: root.$mastodon;
		border-radius: 999px;
		border: 2px solid var(--primary);
		box-shadow: var(--shadow);
		&::before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			background: var(--purple);
			z-index: -1;
			border-radius: 1rem .2rem .8rem 1.8rem;
			transform: rotate(47deg) scale(1.2);
		}
	}
	span {
		position: relative;
		bottom: root.$big;
		margin: 0 root.$regular 0 root.$small ;
	}
}

p {
	line-height: 1.7em;
	&.one.column {
		padding: 0 3vw;
	}
}

u {
	text-decoration-color: var(--transp-text) !important;
}

strong,
dt,
b {
	font-weight: bolder;
	text-shadow: 1px 1px 0 var(--strong-shadow);
}

article {
	position: relative;
	font-size: root.$regular-more;
	padding: 8vh 5vw 15vh;
	h2, h3 {
		margin: revert;
	}
	> .box {
		margin: root.$bigger 0;
	}
}

h1, h2, h3, h4, h5, h6 {
	color: var(--slight);
	font-family: var(--font-heading);
	font-weight: 700;
	transition: root.$quicktrans;
	line-height: 1;
	hyphens: none;
	margin: 0;
	text-align: center;
	.anchor {
		opacity: 0;
	}
	&:hover {
		.anchor {
			opacity: 1;
		}
	}
}

h1, h2 {
	text-transform: uppercase;
}

.title {
	text-shadow: 1.5px 1.5px 0 var(--orange);
}

h1 {
	font-size: root.$h1;
	margin: 0 3vw;
	text-shadow: var(--neat-orange-shadow);
	&:hover {
		transform: rotate(-3deg);
	}
}

h2 {
	font-size: root.$h2;
	.anchor::after {
		content: '##';
	}
}

h3 {
	font-size: root.$h3;
	.anchor::after {
		content: '###';
	}
}

.box {
	display: block;
	background: var(--background);
	max-width: 100%;
	color: var(--text);
	padding: root.$big;
	margin: root.$regular-less 3%;
	box-shadow: var(--shadow);
	.anchor {
		display: none;
	}
	h3 {
		margin: 0;
	}
	.written.button:not(.tiny) {
		margin: root.$regular-more root.$small;
	}
}

#blog {
	.box {
		padding: root.$small;
	}
	img {
		max-height: 20rem;
	}
	h2 {
		margin: root.$regular-less 0;
		font-size: 2rem;
	}
	p {
		line-height: 1;
		margin: root.$small 0;
	}
	.authors.flex {
		justify-content: space-between;
	}
}

.manifesto {
	h2 {
		margin-bottom: .5rem;
	}
	h3 {
		margin-top: 0;
		color: var(--blue);
	}
}

.tags {
	padding: root.$small root.$tiny;
	h2 {
		a {
			color: var(--text);
		}
		margin: 0;
	}
	.flex {
		max-height: 30vh;
		overflow: scroll;
	}
	.button {
		margin: root.$small !important;
	}
}

#lang-filter {
	font-size: root.$bigger;
}

#toc {
	h3 {
		text-shadow: var(--little-shadow);
		color: var(--slight);
		margin: 0;
	}
	a {
		color: var(--slight);
	}
	li {
		line-height: 1;
	}
	ul,
	ol {
		padding-left: 1.3rem;
	}
}

#help {
	position: fixed;
	z-index: 7;
	bottom: -16rem;
	width: 20rem;
	&:hover {
		bottom: 0;
	}
}

#latest-post {
	position: relative;
	h2.button {
		position: absolute;
		top: 1rem;
		right: -1rem;
		z-index: 2;
		transform: rotate(10deg);
	}
}

.excerpt {
	display: block;
	margin: root.$small 10%;
	font: italic .85em var(--font-main);
	line-height: 1.5em;
}

.metadata {
	line-height: 1.1;
	opacity: .8;
}

.footnotes {
	font-size: .8em;
	margin-top: root.$height;
}

.pagination nav {
	li {
		margin: root.$small root.$tiny;
		list-style-type: none;
	}
	a {
		padding: root.$small root.$regular-less;
		background: var(--background);
		&[aria-current] {
			background: var(--primary);
			color: var(--background);
			box-shadow: none;
		}
	}
}

footer {
	background: var(--background);
	padding: root.$big 10vw;
	p {
		line-height: 1.5;
		font-size: .8em;
		font-weight: 300;
		strong {
			text-shadow: none;
		}
		a {
			color: var(--primary) !important;
		}
	}
	> .row {
		justify-content: space-between;
	}
}

address {
	p {
		margin-top: 0;
	}
}

audio,
.controlBar {
	width: 100%;
	box-shadow: var(--shadow);
}

#social,
#share {
	svg,
	img {
		height: root.$bigger;
		width: auto;
		margin: root.$small;
	}
}

button,
.button,
input[type='submit'] {
	display: inline-block;
	padding: root.$small root.$big;
	font-size: root.$big;
	font-weight: 700;
	box-shadow: var(--button-shadow);
	text-align: center;
	hyphens: none;
	&:hover,
	&:focus {
		box-shadow: none;
	}
	&:active {
		box-shadow: var(--inner-shadow);
	}
	& ~ .button {
		margin: root.$regular-less;
	}
}

svg.button {
	height: root.$height;
	width: auto;
	margin: root.$small;
}

.written {
	--text: var(--background);
	color: var(--text);
	background: var(--primary);
	&.newsletter {
		margin-bottom: root.$bigger;
	}
}

.tiny {
	padding: 1px root.$small;
	margin: root.$tiny;
	font-size: root.$regular-less;
}

.embed {
	lite-youtube,
	iframe {
		margin: auto !important;
		box-shadow: var(--shadow) !important;
	}
}

.embed-container {
	--video-width: 1920;
	--video-height: 1080;

	position: relative;
	padding-bottom: calc(var(--video-height) / var(--video-width) * 100%) !important;
	overflow: hidden;
	max-width: 100%;
	background: transparent;
	box-shadow: var(--shadow);
	iframe,
	object,
	embed,
	video {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.tool {
	position: fixed;
	bottom: 3vw;
	right: 4vw;
	z-index: 2;
	.button {
		padding: .3rem;
	}
}

#scrollbutton {
	.button {
		box-shadow: none !important;
	}
	&[href='#0'] {
		transform: rotate(180deg);
	}
}

.tag {
	h2 {
		padding: root.$small;
	}
	p {
		text-align: center;
	}
}

.green {
	color: #FFF;
	background: var(--green) !important;
	border-color: var(--green) !important;
}

.red {
	color: #FFF;
	background: var(--red);
	border-color: var(--red) !important;
	--link: var(--yellow);
}

.purple {
	color: #FFF;
	background: var(--purple);
	border-color: var(--purple) !important;
	--link: var(--yellow);
	--slight: var(--turquoise);
	&.button,
	button {
		box-shadow: .25rem .25rem 0 var(--turquoise)
	}
}

.blue {
	color: #000;
	background: var(--turquoise);
	border-color: var(--turquoise) !important;
	--link: var(--purple);
	&::selection {
		background: var(--purple);
		color: #FFF;
	}
}

.blue-shadow {
	color: var(--orange);
	text-shadow: 1.5px 1.5px 0 var(--turquoise);
}

.yellow {
	color: #000;
	background: var(--yellow);
	--link: var(--purple);
	::selection {
		background: var(--purple);
		color: #FFF;
	}
	&.button,
	button {
		box-shadow: .25rem .25rem 0 var(--turquoise)
	}
}

.orange {
	color: #FFF;
	background: var(--orange);
	border-color: var(--orange) !important;
}

.border {
	color: var(--text) !important;
	background: var(--background) !important;
	border: .25rem solid var(--slight);
	--link: var(--primary) !important;
}

.highlights-scroll {
	height: 19rem;
	div {
		overflow-x: scroll;
		display: flex;
	}
	img {
		height: 16rem;
		width: auto;
		margin-right: root.$regular;
	}
}

.color {
	color: var(--primary);
}

.shrink {
	width: 16rem;
	margin: 1rem;
	p {
		padding: 0 !important;
	}
}

#data {
	figure {
		margin-top: 2rem;
	}
	time {
		padding: 0 root.$small;
		background: var(--slight);
	}
}

#main-logo {
	max-width: 50%;
	height: auto;
	margin: 2rem auto;
	display: block;
}

#newsletter {
	margin: 3rem 3vw;
	padding: 0;
	.column {
		padding: 0;
		img {
			max-height: none;
		}
	}
	.two-thirds {
		padding: 2vw 5vw;
	}
}

.labs {
	background: var(--green);
	margin: 0;
	padding-top: 3rem;
	.viewportFrame {
		display: none;
	}
}

.lab {
	.viewportFrame {
		background: var(--green);
	}
}

.pinoli {
	background: var(--yellow);
	padding-top: 3rem;
	margin: 0;
	.viewportFrame {
		display: none;
	}
}

.pinolo {
	.viewportFrame {
		background: var(--yellow);
	}
}

.dissolvenze .viewportFrame {
	background: var(--purple);
}

#goto {
	padding: root.$small;
	margin: root.$small;
	.button {
		color: var(--text);
		background: var(--background);
		margin: root.$small !important;
	}
}

.eng {
	&::after {
		content: ' in English 🇬🇧';
		color: var(--red);
		box-shadow: none;
		text-transform: uppercase;
	}
}

#seeweb {
	a {
		display: block;
	}
}

#pan {
	margin: 1vw 3vw;
}

#intro-video {
	margin: 0;
	padding: 0;	
	.embed-container {
		--video-height: 1060;
		box-shadow: none;
	}
}

#editions {
	.row {
		position: relative;
	}
	h2 {
		margin-top: root.$mastodon;
	}
	h3 {
		position: absolute;
		z-index: 4;
		top: 6rem;
		right: 10%;
		transform: rotate(-4deg);
		color: var(--primary);
		text-shadow: 2px 2px 0 var(--strong-shadow);
		span {
			color: var(--text);
		}
	}
	figure {
		margin-bottom: root.$regular-less;
	}
}

/* mobile display - responsive design */
@media only screen and (max-width: 950px) {
	.one,
	.half,
	.one-third,
	.two-thirds {
		width: 100%;
		margin: 0;
	}
	section h1 {
		font-size: root.$height;
	}
	.stuff-logo {
		margin-top: root.$bigger
	}
	.line {
		width: 20%;
	}
	.grid .box {
		margin: 0 3%;
		height: unset;
	}
	.tool {
		bottom: 3vh;
	}
	.popup {
		left: 5vw;
	}
	#goto div {
		display: flex;
		overflow-x: scroll;
	}
	#help {
		bottom: -15rem;
	}
	.box .column {
		& + .column h2,
		& + .column h3 {
			margin-top: root.$regular-more;
		}
	}
	footer {
		padding: root.$big;
		& > .row {
			justify-content: center;
		}
	}
	#toc,
	#goto {
		margin: 5vh 3vw 0;
	}
	#latest-post h2.button {
		top: 10rem;
		right: -6.5rem;
		transform: rotate(82deg);
	}
	.remarkable p {
		line-height: 1;
		font-size: 4rem;
	}
	h1 {
		font-size: 4rem;
		line-height: 1;
	}
	h2 {
		font-size: 3rem;
		line-height: 1;
	}
	h3 {
		font-size: 2rem;
		line-height: 1;
	}
	#festival-location,
	#festival-date {
		font-size: 2rem;
		line-height: 1.2;
	}
	.quote {
		line-height: 1.3;
	}
	#intro-video {
		top: 9vw;
	}
	#editions h3 {
		top: 8rem;
	}
}

@media only screen and (min-width: 950px) {
	.post article {
		padding: 8vh 12vw 15vh;
	}
	ul.two,
	ol.two {
		columns: 2;
	}
	ul.three,
	ol.three {
		columns: 3;
	}
	#toc {
		position: fixed;
		left: 4vw;
		bottom: 1vw;
		width: 18vw;
		font-size: 1rem;
		.post & {
			width: 23vw;
		}
	}
	#goto {
		position: fixed;
		width: 16rem;
		top: 35vh;
		left: -15rem;
		z-index: 8;
		&:hover,
		&:focus {
			left: 0;
		}
		a {
			transform: scale(.85);
			display: block;
			color: var(--text);
			background: var(--background);
		}
		&::after {
			content: '→';
			position: absolute;
			top: 4rem;
			right: root.$small;
		}
	}
	footer {
		h4 {
			text-align: left;
		}
		.box {
			margin: 0 root.$regular 0 0;
			padding: root.$regular-less root.$bigger;
			width: calc(100% / 3 * 2 - root.$regular-more);
		}
	}
}
