.carrer-container{
   text-align: left;
   padding-left: 10%;
   padding-right: 10%;
   font-family: 'Poppins';
   padding-top: 50px;
   background: linear-gradient(90deg, #E9AFFF 0%, #FFEDC4 98.65%);
}